      .ColorScheme-Text {
        color:#d0d0d0;
        stop-color:#d0d0d0;
      }
      .ColorScheme-Background {
        color:#212121;
        stop-color:#212121;
      }
      .ColorScheme-Highlight {
        color:#0039a9;
        stop-color:#0039a9;
      }
      .ColorScheme-ViewText {
        color:#d0d0d0;
        stop-color:#d0d0d0;
      }
      .ColorScheme-ViewBackground {
        color:#19191b;
        stop-color:#19191b;
      }
      .ColorScheme-ViewHover {
        color:#0059a9;
        stop-color:#0059a9;
      }
      .ColorScheme-ViewFocus{
        color:#002466;
        stop-color:#002466;
      }
      .ColorScheme-ButtonText {
        color:#d0d0d0;
        stop-color:#d0d0d0;
      }
      .ColorScheme-ButtonBackground {
        color:#3e3e3e;
        stop-color:#2e2e2e;
      }
      .ColorScheme-ButtonHover {
        color:#0059a9;
        stop-color:#0059a9;                                                                         
      }                                                                                             
      .ColorScheme-ButtonFocus{                                                                     
        color:#0039a9;                                                                              
        stop-color:#0039a9;
      }
